{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">SMS Elements</li>
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Element Name</th>
                <th>Total Process</th>
                <th>Total KPIs </th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for element in elements %}
                <tr>
                    <td>
                        <a href="{% url 'element_processes' element.pk %}">{{ element.element_name }}</a>
                        <small class="text-muted d-block">{{ element.element_description }}</smal>
                    </td>
                    <td class="align-middle">0</td>
                    <td class="align-middle">0</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}