{% extends 'base.html' %}

{% block title %}Create a New Process{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Elements</a></li>
<li class="breadcrumb-item"><a href="{% url 'element_processes' element.pk %}">{{ element.element_name }}</a></li>
<li class="breadcrumb-item active">New Process</li>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_process_name">Process Name</label>
            <input type="text" class="form-control" id="id_process_name" name="process_name">
        </div>
        <div class="form-group">
            <label for="id_kpi_name">KPI</label>
            <textarea class="form-control" id="id_kpi_name" name="kpi_name" rows="4"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
{% endblock %}