{% extends 'base.html' %}

{% block title %}Create a New Process{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Elements</a></li>
<li class="breadcrumb-item"><a href="{% url 'element_processes' element.pk %}">{{ element.element_name }}</a></li>
<li class="breadcrumb-item active">New Process</li>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for=id_subject">Process Name:</label>
            <input type="text" class="form-control" id="id_process" name="process">
        </div>
        <div class="form-group">
            <label for="id_process_description">Process Description:</label>
            <textarea class="form-control" id="id_process" name="process_description" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}