.navbar-brand {
    font-family: 'Jomhuria', cursive;
    /* <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet"> */

    font-family: 'Jomhuria', cursive;
    font-family: 'Marko One', serif;
    /* <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Marko+One&display=swap" rel="stylesheet"> */

    font-family: 'Jomhuria', cursive;
    font-family: 'Marko One', serif;
    font-family: 'BioRhyme', serif;
    /* <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@700;800&family=Jomhuria&family=Marko+One&display=swap" rel="stylesheet"> */
}